#scroll{
  height: 100%; /* fix hidden scroll bars? */
  padding-bottom: 1vh;
  padding-top: 1vh;
}


/* must match background color*/
/*
#scroll:after {
  content  : "";
  position : absolute;
  z-index  : 1;
  bottom   : 0;
  left     : 0;
  pointer-events   : none;
  background-image : linear-gradient(to bottom,
                    rgba(240,255,240, 0),
                    rgba(240,255,240, 1) 99%);
  width    : 100%;
  height   : 3em;
}
*/

#img{
  width: 100%;
}
#Accordion {
  Padding-top: 7.5px;
}
#Accordion a {
  text-decoration: underline;
  
  
}
#Accordion a:hover {
  text-decoration: underline;
  font-style: normal;
  color: #f25d2c !important;
}

#header{
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 100%;
  justify-content:center;
  align-content:center;
  flex-direction:column;
}

/* bug is happening here */
#contain{ 
  height:82%;
}

#txt{
  padding:.5rem;
}

.nounderline {
  text-decoration: none !important
}
.Sidebar {
  width: 100%;
  padding: 0.5rem 0.2rem 0.5rem 0.5rem;
  margin-top: 1vh;
  margin-bottom: 1vh;
  height: 100%;
  height: 90.5vh !important;
  z-index: 1020;
  color: #0a100d;
  background-color: #F0FFF0;
  opacity: 0.95;
  margin-right: 2vh;
}
.SidebarTribe {
  width: 100%;
  padding: 0.5rem 0.2rem 0.5rem 0.5rem;
  margin-top: 1vh;
  margin-bottom: 1vh;
  height: 100%;
  height: 90.5vh !important;
  z-index: 1020;
  color: #0a100d;
  background-color: #F0FFF0;
  opacity: 1;
  margin-right: 2vh;
}

#prettyDate{
  font-style: normal;
  font-size: 0.6em;
}

#coords{
  font-style: normal;
  font-size: 0.5em;
  color: gray;
}

#t{
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 100%;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  padding-top: 10px;
  padding-bottom: 5 px;
}

#exit{
  font-size: 2rem;
  text-align: right;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
#Section{
  font-size: 2rem;
  text-align: left;
  padding-left: .05rem;

}
#imgBox1{
  border: 1px solid gray;
  border-radius: 4px;
  padding: 50px;
  margin-top: 20px;
}
#imgBox{
  border: 1px solid gray;
  border-radius: 4px;
  padding: 8px;
}

#infoText{
  font-size: 0.9em;
  margin-top: 8px;
}

#imageCite{
  font-size: 0.75em;
}

#link{
  text-align: right;
  color: inherit;
  text-decoration: underline;
}

#sec{
  font-size: 0.8em;
}

#tour{
  font-size: 0.8rem; /*make this smaller? or align to top...*/
  text-align: right;
  margin-right: 0.2rem;
  margin-bottom: 0.5rem;
  text-align: left;
  padding: 0.3rem;
}

a {
  color: #0a100d;
  text-decoration: underline;
}

a:hover{
  color: #0a100d;
  font-style: italic;
}


@media only screen and (min-width: 600px) {
  .Sidebar {
    width: 50%;
    height: 90.5vh;
    z-index: 1020;
  }
}

@media only screen and (min-width: 900px) {
  .Sidebar {
    width: 30%;
    height: 90.5vh;
    z-index: 1020;
  }
}
@media only screen and (min-width: 600px) {
  .SidebarTribe {
    width: 50%;
    height: 90.5vh;
    z-index: 1020;
  }
}

@media only screen and (min-width: 900px) {
  .SidebarTribe {
    width: 30%;
    height: 90.5vh;
    z-index: 1020;
  }
}


.card-img-top {
  border-radius: 0;
}

.card-subtitle {
  margin-bottom: 0.75rem;
}

.btn-group {
  width: 100%;
}

.btn-group .btn {
  width: 50%;
}
