#scroll{
  height: 100%;
  padding-bottom: 1vh;
  padding-top: 1vh;
}

#img{
  width: 100%;
}

#header{
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 100%;
  justify-content:center;
  align-content:center;
  flex-direction:column;
}

#contain{
  height:85%;
}

#txt{
  padding:.5rem;
}

.Sidebar {
  width: 100%;
  padding: 0.5rem 0.2rem 0.5rem 0.5rem;
  margin-top: 1vh;
  margin-bottom: 1vh;
  height: 90.5vh !important;
  z-index: 1020;
  color: #0a100d;
  background-color: #F0FFF0;
  opacity: 0.95;
  margin-right: 2vh;
  /* border: 4px dashed blue; */
}

#prettyDate{
  font-style: normal;
  font-size: 0.7em;
}

#exit{
  font-size: 2rem;
  text-align: right;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: 100%;
}

#imgBox{
  border: 1px solid gray;
  border-radius: 4px;
  padding: 8px;
}

#infoText{
  font-size: 0.9em;
  margin-top: 8px;
}

#imageCite{
  font-size: 0.75em;
}

#link{
  text-align: right;
  color: inherit;
}

#sec{
  font-size: 0.8em;
}

a {
  color: #0a100d;
  text-decoration: underline;
}

a:hover{
  color: #0a100d;
  font-style: italic;
}


@media only screen and (min-width: 600px) {
  .Sidebar {
    width: 50%;
    height: 90.5vh;
    z-index: 1020;
  }
}

@media only screen and (min-width: 900px) {
  .Sidebar {
    width: 30%;
    height: 90.5vh;
    z-index: 1020;
  }
}


.card-img-top {
  border-radius: 0;
}

.card-subtitle {
  margin-bottom: 0.75rem;
}

.btn-group {
  width: 100%;
}

.btn-group .btn {
  width: 50%;
}
