#scroll{
  height: 75%;
  padding-bottom: 1vh;
  padding-top: 1vh;
  outline: 1px solid lightgrey;
}
#img{
  /* height:30%; */
  margin: auto;
  width:100%;

}
#header{
  height:10%;
  text-align: center;
  padding: 5px;
}
#contain{
  height:100%;
}
