

#topbar{
  height:7.5vh !important;
  background-color: #f7f8f9;
  padding:0;
}

#text{
   font-family: "Times New Roman", Times, serif;
   font-size: 2.5vh;
   margin: auto;
   max-width: 50%;
   max-height:7.5vh;
   text-align: center;
}

@media only screen and (min-width: 600px) {
  #text{
     font-family: "Times New Roman", Times, serif;
     font-size: 5vh;
     margin: auto;
     max-width: 50%;
     max-height:7.5vh;
     text-align: center;
  }
}

@media only screen and (min-width: 900px) {
  #text{
     font-family: "Times New Roman", Times, serif;
     font-size: 5vh;
     margin: auto;
     max-width: 50%;
     max-height:7.5vh;
     text-align: center;
  }
}
