#legend{
  color: #0a100d;
  background-color: #F0FFF0;
  border: 3px solid gray;
  border-radius: 3px;
  padding:5px;
  line-height: 1.6rem;
}

#icons{
  height: 1.5rem;
  width:  1.0rem;
}

#line{
  border-top: 1px solid gray;
  margin: 5px;
  height: 5rem;
}

#info{
  text-align: right;
  margin-left: 1.5rem;
  color:inherit;
}
