.MapPane {
  height: 92.5vh;
}

.tribeMarker {
  background: none;
  background-color: none;
  color: black;
  border: none;
  box-shadow: none;
  font-weight: bold;
  font-size: 1.4em;
}

.leaflet-tooltip-left.tribeMarker::before {border-left-color: transparent;}

.leaflet-tooltip-right.tribeMarker::before {border-right-color: transparent;}
